<c-card class="mb-4">
    <c-card id="someAnchorage" class="mb-4 card" style="display: block; margin: 20px; border-radius: 20px; background-color: rgb(240,240,240); border-width: 0px;">
        <c-card class="mb-4" style="border-width: 0px; margin: 20px;">
            <c-card-body>

                <div class="border-start border-start-4 py-1 px-3 mb-3">
                    <div class="fs-5 fw-semibold" style="color: orangered;">esm el user yech3el kenou connecté </div>
                    <div class="text-medium-emphasis small">
                        Dernière connexion | 10 days ago
                    </div>    
                </div>
                <div class="border-start border-start-4 py-1 px-3 mb-3">
                    <div class="fs-5 fw-semibold">esm el user</div>
                    <div class="text-medium-emphasis small">
                        Dernière connexion | 10 days ago
                    </div>    
                </div>

            </c-card-body>
        </c-card>    
    </c-card>
</c-card>