$width: 60px;
$padding: 7px;
$height: $width / 2 + $padding;
//toggle code begins!
.switch-wrap {
    cursor: pointer;
    background: rgb(240, 240, 240);
    padding: $padding;
    width: $width;
    height: $height;
    border-radius: $height / 2;
    input {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
    }
  }
  .switch {
    height: 100%;
    display: grid;
    grid-template-columns: 0fr 1fr 1fr;
    transition: .2s;
    //ICYMI, pseudo elements are treated as grid items
    &::after {
      content: '';
      border-radius: 50%;
      background: #3c4b64;
      grid-column: 2;
      transition: background .2s;
    }
  }
  input:checked {
    + .switch {
      grid-template-columns: 1fr 1fr 0fr; 
      &::after {
        background-color: rgb(229, 83, 83);
      }
    }
  }