<c-card class="mb-4">
  <div class="progress-group-header" style="margin-top: 20px; margin-left: 30px; margin-right: 30px;">
    <input #sr aria-label="Search" cFormControl placeholder="Recherche" type="search" style="max-width: 700px; border-radius: 20px;">
    <button (click)="search(sr.value)" cButton color="success" type="submit" variant="outline" class="rounded-pill" style="background-color: rgb(181, 181, 181); border-color: rgb(181, 181, 181); margin-left: 3px;">
      <svg cIcon name="cil-search" style="color: white;"></svg>
    </button>
    <label class="ms-auto switch-wrap">
      <input (change)="checkValue($event)" [checked]="switch == true" type="checkbox" />
      <div class="switch"></div>
    </label>
    <button cbutton class="ms-auto btn btn-primary rounded-pill ng-star-inserted" type="button" 
    style="border-color: #3c4b64; background-color: #3c4b64; width: 100px;" routerLink="../addfonction"> 
      <svg cIcon name="cibAddthis"></svg>
    </button>
  </div>
    
  <c-card id="someAnchorage" class="card" style="display: block; margin-bottom: 20px; margin-left: 20px; margin-right: 20px; margin-top: 10px; border-radius: 20px; background-color: rgb(240,240,240); border-width: 0px;">
    <c-card style="border-width: 0px; margin: 20px;">
      <c-card-body>
        <div  *ngFor="let fun of functions">
          <div *ngIf="fun.status == 1" style="background-color:#d9fce4;" class="border-start border-start-4 border-start-success py-1 px-3 mb-3">
             <div class="fs-5 fw-semibold progress-group-header">
                <span style="color: #3c4b64;"> {{fun.name}} </span>
             </div>
             <div class="text-medium-emphasis small progress-group-header">
                <button cButton style="background-color: rgb(249,177,21); color:#3c4b64; border-color:rgb(249,177,21);" class="ms-auto rounded-pill position-relative mx-2" >
                   <svg _ngcontent-tjo-c219="" cIcon="" name="cil-chart" class="icon" ng-reflect-content="" ng-reflect-name="cil-task" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" pointer-events="none" role="img">
                   </svg>
                   <section id="report">
                      <div style="width: 100%; height: 100%" #reportContainer></div>
                   </section>
                </button>
                <button cButton style="background-color:rgb(181, 181, 181); border-color:rgb(181,181,181); color:#3c4b64;" type="button" class="rounded-pill position-relative mx-2" routerLink="../editfonction/{{fun.id}}">
                   <svg _ngcontent-tjo-c219="" cIcon="" name="cil-task" class="icon" ng-reflect-content="" ng-reflect-name="cil-task" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" pointer-events="none" role="img" style="color: #3c4b64;">
                   </svg>
                </button>
                <button  cButton style="border-color: rgb(229, 83, 83); background-color: rgb(229, 83, 83);" type="button" class="rounded-pill position-relative mx-2" (click)="del(fun.id)">
                   <svg _ngcontent-tjo-c219="" cIcon="" name="cil-trash" class="icon" ng-reflect-content="" ng-reflect-name="cil-task" xmlns="http://www.w3.org/2000/svg" pointer-events="none" role="img" style="color: white;">
                     
                   </svg>
                </button>
             </div>
          </div>
          <div *ngIf="fun.status == 0" style="background-color:#fce0e0;" class="border-start border-start-4 border-start-danger py-1 px-3 mb-3">
             <div class="fs-5 fw-semibold progress-group-header">
                <span> {{fun.name}} </span>
             </div>
             <div class="text-medium-emphasis small progress-group-header">
                <button cButton style="background-color: rgb(249,177,21); color:#3c4b64; border-color:rgb(249,177,21);" class="ms-auto rounded-pill position-relative mx-2" >
                   <svg _ngcontent-tjo-c219="" cIcon="" name="cil-chart" class="icon" ng-reflect-content="" ng-reflect-name="cil-task" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" pointer-events="none" role="img">
                   </svg>
                   <section id="report">
                      <div style="width: 100%; height: 100%" #reportContainer></div>
                   </section>
                </button>
                <button cButton style="background-color:rgb(181, 181, 181); border-color:rgb(181,181,181); color:#3c4b64;" type="button" class="rounded-pill position-relative mx-2" routerLink="../editfonction/{{fun.id}}">
                   <svg _ngcontent-tjo-c219="" cIcon="" name="cil-task" class="icon" ng-reflect-content="" ng-reflect-name="cil-task" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" pointer-events="none" role="img" style="color: #3c4b64;">
                   </svg>
                   <c-badge color="danger" position="top-end" shape="rounded-circle" class="p-2" cBorder="light">
                     <span class="visually-hidden">unread messages</span>
                   </c-badge>
                </button>
                <button cButton style="border-color: rgb(229, 83, 83); background-color: rgb(229, 83, 83);" type="button" class="rounded-pill position-relative mx-2" (click)="del(fun.id)">
                   <svg _ngcontent-tjo-c219="" cIcon="" name="cil-trash" class="icon" ng-reflect-content="" ng-reflect-name="cil-task" xmlns="http://www.w3.org/2000/svg" pointer-events="none" role="img" style="color: white;">
                   </svg>
                </button>
             </div>
          </div>
       </div>
      
      </c-card-body>
  </c-card>
</c-card>




<!--<table class="table">
  <tbody>
      <tr *ngFor="let fun of functions" style="height: auto;">
          <td>
              <div _ngcontent-tjo-c219="" style="margin:20px;">
                <form cForm class="d-flex" style="margin-top: 20px;">
                  <table style="table-layout: fixed; width: 100%;" cTable>
                    <tr>
                      <td style="width:auto;">
                        <c-badge *ngIf="fun.status == 1" _ngcontent-tjo-c232="" color="success" class="me-1 badge bg-success" _nghost-tjo-c70="" ng-reflect-color="success">correcte</c-badge>
                        <c-badge  *ngIf="fun.status == 0" _ngcontent-tjo-c232="" color="danger" class="me-1 badge bg-danger" _nghost-tjo-c70="" ng-reflect-color="danger" style="padding-left: 10px;">incorrecte</c-badge>
                      </td>
                      <td colSpan="7">
                        <strong> {{fun.name}} </strong>
                        <div class="small text-medium-emphasis">esm elli sna3ha</div>
                      </td>
                      <td style="width: 50px;">
                        <button cButton style="background-color: rgb(249,177,21); color:#3c4b64; border-color:rgb(249,177,21);" class="position-relative mx-2" >
                          <svg _ngcontent-tjo-c219="" cIcon="" name="cil-chart" class="icon" ng-reflect-content="" ng-reflect-name="cil-task" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" pointer-events="none" role="img">
                            <path fill="var(--ci-primary-color, currentColor)" d="M450.27,348.569,406.6,267.945V184c0-83.813-68.187-152-152-152s-152,68.187-152,152v83.945L58.928,348.568A24,24,0,0,0,80.031,384h86.935c-.238,2.636-.367,5.3-.367,8a88,88,0,0,0,176,0c0-2.7-.129-5.364-.367-8h86.935a24,24,0,0,0,21.1-35.431ZM310.6,392a56,56,0,1,1-111.419-8H310.018A56.14,56.14,0,0,1,310.6,392ZM93.462,352,134.6,276.055V184a120,120,0,0,1,240,0v92.055L415.736,352Z" class="ci-primary"/>
                          </svg>
                          <section id="report">
                            <div style="width: 100%; height: 100%" #reportContainer></div> 
                          </section>
                        </button>
                      </td>
                      <td style="width: 50px;">
                        <button cButton style="background-color:rgb(181, 181, 181); border-color:rgb(181,181,181); color:#3c4b64;" type="button" class="position-relative mx-2" routerLink="../editfonction/{{fun.id}}">
                          <svg _ngcontent-tjo-c219="" cIcon="" name="cil-task" class="icon" ng-reflect-content="" ng-reflect-name="cil-task" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" pointer-events="none" role="img" style="color: #3c4b64;">
                            <path fill="var(--ci-primary-color, currentColor)" d="M450.27,348.569,406.6,267.945V184c0-83.813-68.187-152-152-152s-152,68.187-152,152v83.945L58.928,348.568A24,24,0,0,0,80.031,384h86.935c-.238,2.636-.367,5.3-.367,8a88,88,0,0,0,176,0c0-2.7-.129-5.364-.367-8h86.935a24,24,0,0,0,21.1-35.431ZM310.6,392a56,56,0,1,1-111.419-8H310.018A56.14,56.14,0,0,1,310.6,392ZM93.462,352,134.6,276.055V184a120,120,0,0,1,240,0v92.055L415.736,352Z" class="ci-primary">
                            </path>
                          </svg>
                        </button>
                      </td>
                      <td style="width: 50px;">
                        <button cButton style="border-color: rgb(229, 83, 83); background-color: rgb(229, 83, 83);" type="button" class="position-relative mx-2" routerLink="../deletefonction">
                          <svg _ngcontent-tjo-c219="" cIcon="" name="cil-trash" class="icon" ng-reflect-content="" ng-reflect-name="cil-task" xmlns="http://www.w3.org/2000/svg" pointer-events="none" role="img" style="color: white;">
                            <path fill="var(--ci-primary-color, currentColor)" d="M450.27,348.569,406.6,267.945V184c0-83.813-68.187-152-152-152s-152,68.187-152,152v83.945L58.928,348.568A24,24,0,0,0,80.031,384h86.935c-.238,2.636-.367,5.3-.367,8a88,88,0,0,0,176,0c0-2.7-.129-5.364-.367-8h86.935a24,24,0,0,0,21.1-35.431ZM310.6,392a56,56,0,1,1-111.419-8H310.018A56.14,56.14,0,0,1,310.6,392ZM93.462,352,134.6,276.055V184a120,120,0,0,1,240,0v92.055L415.736,352Z" class="ci-primary">
                            </path>
                          </svg>
                        </button>
                      </td>
                    </tr>
                  </table>
                </form>  
              </div>
          </td>
      </tr>
  </tbody>
</table>-->
