<c-card class="mb-4">
    <button _ngcontent-tjo-c219="" cbutton="" shape="rounded-pill" class="me-1 btn btn-primary rounded-pill ng-star-inserted" 
    ng-reflect-shape="rounded-pill" ng-reflect-color="primary" type="button" 
    style="border-color: #3c4b64; background-color: #3c4b64; margin: 20px; margin-left: 820px;" routerLink="../addfonction"> 
        Add new function
      </button>

      
    <c-card id="someAnchorage" class="mb-4 card">
        <c-card-body class="card-body">
        <div class="bd-example bd-example-type">
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <div _ngcontent-tjo-c219="" class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin:20px;">
                                <strong style="margin-right: 660px;">                                
                                    <c-badge _ngcontent-tjo-c232="" color="success" class="me-1 badge bg-success" _nghost-tjo-c70="" ng-reflect-color="success">success</c-badge>
                                    fonction 1
                                </strong>
                                <button cButton color="warning" class="position-relative mx-2" >
                                  <svg _ngcontent-tjo-c219="" cIcon="" name="cil-chart" class="me-2 icon" ng-reflect-content="" ng-reflect-name="cil-task" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" pointer-events="none" role="img">
                                    <path fill="var(--ci-primary-color, currentColor)" d="M450.27,348.569,406.6,267.945V184c0-83.813-68.187-152-152-152s-152,68.187-152,152v83.945L58.928,348.568A24,24,0,0,0,80.031,384h86.935c-.238,2.636-.367,5.3-.367,8a88,88,0,0,0,176,0c0-2.7-.129-5.364-.367-8h86.935a24,24,0,0,0,21.1-35.431ZM310.6,392a56,56,0,1,1-111.419-8H310.018A56.14,56.14,0,0,1,310.6,392ZM93.462,352,134.6,276.055V184a120,120,0,0,1,240,0v92.055L415.736,352Z" class="ci-primary"/>
                                  </svg>
                                  <section id="report">
                                    <div style="width: 100%; height: 100%" #reportContainer></div> 
                                  </section>
                                </button>
                                <button cButton color="secondary" type="button" class="position-relative mx-2" routerLink="../editfonction">
                                  <c-badge color="danger" position="top-end" shape="rounded-pill">99+</c-badge>
                                  <svg _ngcontent-tjo-c219="" cIcon="" name="cil-task" class="me-2 icon" ng-reflect-content="" ng-reflect-name="cil-task" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" pointer-events="none" role="img" style="color: white;">
                                    <path fill="var(--ci-primary-color, currentColor)" d="M450.27,348.569,406.6,267.945V184c0-83.813-68.187-152-152-152s-152,68.187-152,152v83.945L58.928,348.568A24,24,0,0,0,80.031,384h86.935c-.238,2.636-.367,5.3-.367,8a88,88,0,0,0,176,0c0-2.7-.129-5.364-.367-8h86.935a24,24,0,0,0,21.1-35.431ZM310.6,392a56,56,0,1,1-111.419-8H310.018A56.14,56.14,0,0,1,310.6,392ZM93.462,352,134.6,276.055V184a120,120,0,0,1,240,0v92.055L415.736,352Z" class="ci-primary">
                                    </path>
                                  </svg>
                                </button>
                              </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            
                            <div _ngcontent-tjo-c219="" class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin:20px;">
                                <strong style="margin-right: 660px;">
                                    <c-badge _ngcontent-tjo-c232="" color="danger" class="me-1 badge bg-danger" _nghost-tjo-c70="" ng-reflect-color="danger">danger</c-badge>
                                    fonction 2
                                </strong>
                                <button cButton color="warning" class="position-relative mx-2" >
                                  <span class="visually-hidden">unread messages</span>
                                  <svg _ngcontent-tjo-c219="" cIcon="" name="cil-chart" class="me-2 icon" ng-reflect-content="" ng-reflect-name="cil-task" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" pointer-events="none" role="img">
                                    <path fill="var(--ci-primary-color, currentColor)" d="M450.27,348.569,406.6,267.945V184c0-83.813-68.187-152-152-152s-152,68.187-152,152v83.945L58.928,348.568A24,24,0,0,0,80.031,384h86.935c-.238,2.636-.367,5.3-.367,8a88,88,0,0,0,176,0c0-2.7-.129-5.364-.367-8h86.935a24,24,0,0,0,21.1-35.431ZM310.6,392a56,56,0,1,1-111.419-8H310.018A56.14,56.14,0,0,1,310.6,392ZM93.462,352,134.6,276.055V184a120,120,0,0,1,240,0v92.055L415.736,352Z" class="ci-primary">
                                    </path>
                                  </svg>
                                </button>
                                <button cButton color="secondary" type="button" class="position-relative mx-2" routerLink ="./fonctions">
                                  <c-badge color="danger" position="top-end" shape="rounded-pill">99+</c-badge>
                                  <span class="visually-hidden">unread messages</span>
                                  <svg _ngcontent-tjo-c219="" cIcon="" name="cil-task" class="me-2 icon" ng-reflect-content="" ng-reflect-name="cil-task" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" pointer-events="none" role="img" style="color: white;">
                                    <path fill="var(--ci-primary-color, currentColor)" d="M450.27,348.569,406.6,267.945V184c0-83.813-68.187-152-152-152s-152,68.187-152,152v83.945L58.928,348.568A24,24,0,0,0,80.031,384h86.935c-.238,2.636-.367,5.3-.367,8a88,88,0,0,0,176,0c0-2.7-.129-5.364-.367-8h86.935a24,24,0,0,0,21.1-35.431ZM310.6,392a56,56,0,1,1-111.419-8H310.018A56.14,56.14,0,0,1,310.6,392ZM93.462,352,134.6,276.055V184a120,120,0,0,1,240,0v92.055L415.736,352Z" class="ci-primary">
                                    </path>
                                  </svg>
                                </button>
                              </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        </c-card-body>
    </c-card>
</c-card>