<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="8">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form [formGroup]="LoginForm" (ngSubmit)="onSubmit()" cForm>
                <h1>Authentification</h1>
                <p class="text-medium-emphasis">Connecter à votre compte</p>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input formControlName="email" type="text" ngModel name="userName" id="userName" autoComplete="username" cFormControl
                    placeholder="Nom d'utilisateur" />
                </c-input-group>
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input formControlName="password" type="password" ngModel name="userPassword" id="userPassword" autoComplete="current-password"
                    cFormControl placeholder="Mot de passe" type="password" />
                </c-input-group>
                <c-row>
                  <c-col xs="6">
                    <button type="submit" cButton class="ms-auto btn btn-primary rounded-pill ng-star-inserted"
                      style="border-color: #3c4b64; background-color: #3c4b64; width: 150px;">
                      Se Connecter
                    </button>
                  </c-col>
                  <c-col class="text-right" xs="6">
                    <button cButton class="px-0" style="color: #3c4b64; background-color: white; border: 0px;">
                      Mot de passe oublié ?
                    </button>
                  </c-col>
                  <c-col class="text-right" xs="6">
                    <button routerLink="../register" cButton class="px-0" style="color: red; background-color: white; border: 0px;">
                      Register
                    </button>
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>