<c-card class="mb-4">
    <c-card id="someAnchorage" class="mb-4 card" style="display: block; margin: 20px; border-radius: 20px; background-color: rgb(240,240,240); border-width: 0px;">
        <c-card class="mb-4" style="margin: 20px;">
            <c-card-header>date ta3 el nhar </c-card-header>
            <c-card-body>
              <table style="width: 100%;">
                <tr>
                  <td style="width: 85%;">
                    <div>esm el fonction</div>
                    <div class="small text-medium-emphasis">
                      <span>type d'evenement</span> | date d'evenement
                    </div>
                  </td>
                  <td>
                    <strong> esm illi aamal l'evenement</strong>
                  </td>
                </tr>
              </table>
            </c-card-body>
        </c-card>    
    </c-card>
</c-card>