<c-card class="mb-4">
  <div _ngcontent-tjo-c219="" class="d-grid gap-2 d-md-block">
      <form cForm class="d-flex" style="margin-top: 20px;">
        <input style="border-width: 0px; margin-left: 20px; background-color:  rgb(231, 230, 230); border-radius: 30px; max-width: 800px;" _ngcontent-oem-c220="" aria-label="input example" cformcontrol="" placeholder="SQL script" type="text" ng-reflect-sizing="" ng-reflect-type="text" class="form-control">
      
        <button _ngcontent-tjo-c219="" (click)="openPopup()" cbutton="" variant="ghost" class="me-1 btn btn-sm" ng-reflect-variant="ghost" ng-reflect-active="false"
        ng-reflect-color="" ng-reflect-disabled="false" type="button" style="width: 100px; border-radius: 20px; margin-left: 5px; background-color: #3c4b64; border-color: #3c4b64; color: white;" >
          import
        </button>

        <c-dropdown variant="btn-group">
          <button _ngcontent-tjo-c219="" cButton cDropdownToggle class="me-1 btn btn-sm"
          ng-reflect-active="false" ng-reflect-color="primary" ng-reflect-disabled="false" 
          type="button" style="width: 100px; border-radius: 20px; background-color: #3c4b64; border-color: #3c4b64; color: white;">
            export
          </button>
          <ul cDropdownMenu>
            <li><a cDropdownItem (click)="readAsCSV()">CSV</a></li>
          </ul>
        </c-dropdown>
      </form>  
    <div class="modal col-auto" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
        <div class="modal-dialog" role="document" >
            <div class="modal-content" style="background-color: rgb(230, 230, 230); height: 200px; width: 600px;">    
                <c-input-group _ngcontent-rih-c214="" class="input-group" style="margin:20px; width: 550px;">
                  <input _ngcontent-rih-c214="" aria-describedby="inputGroupFileAddon04" aria-label="Upload" cformcontrol="" id="inputGroupFile04" type="file" ng-reflect-type="file" class="form-control" name="files[]" multiple id="jsonFile" (change)="uploadedFile($event)">
                </c-input-group>  
                <input style="margin-left: 20px; width:550px;" (keyup)="getChange($event)" _ngcontent-oem-c220="" aria-label="input example" cformcontrol="" placeholder="database name" type="text" ng-reflect-sizing="" ng-reflect-type="text" class="form-control">
                <button _ngcontent-rih-c214="" (click)="closePopup()" cbutton="" color="secondary" 
                style="margin-left:450px; margin-top: 20px; max-width: 100px; background-color: #3c4b64; border-color: #3c4b64; color: white;" 
                id="inputGroupFileAddon04" type="button" variant="outline" ng-reflect-color="" 
                ng-reflect-type="button" ng-reflect-variant="" class="btn" routerLink="../database" (click)="upload()"> 
                    import 
                </button>
            </div>
        </div>
    </div>

    


  </div>
    
  <c-card-body style="background-color: rgb(231, 230, 230); margin:20px; border-radius: 20px; " routerLink="">
    <input style="margin-bottom: 20px; background-color: rgb(250, 248, 248); border-width: 0px; border-radius: 20px;" (keyup)="getChange($event)" _ngcontent-oem-c220="" aria-label="input example" cformcontrol="" placeholder="SQL script" type="text" ng-reflect-sizing="" ng-reflect-type="text" class="form-control">
    <table [hover]="true" cTable style="border-radius: 20px; background-color: rgb(250, 248, 248);">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Class</th>
          <th scope="col">Heading</th>
          <th scope="col">Heading</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colSpan="2">Larry the Bird</td>
          <td>@twitter</td>
        </tr>
        </tbody>
    </table>
  </c-card-body>
</c-card>