<!--<c-header class="mb-4 d-print-none" position="sticky">-->
  <ng-container>
    <c-container [fluid]="true">
      <button
        toggle="visible"
        cHeaderToggler
        [cSidebarToggle]="sidebarId"
        class="ps-1"
      >
        <svg cIcon
          name="cilMenu"
          size="lg"
        ></svg>
      </button>
      <c-header-nav class="d-none d-lg-flex me-auto">
        <c-nav-item>
          <a cNavLink routerLink="/users" routerLinkActive="active">Utilisateurs</a>
        </c-nav-item>
        <c-nav-item>
          <a cNavLink routerLink="/fonctions" routerLinkActive="active">
            Fonctions
          </a>
        </c-nav-item>
        <c-nav-item>
          <a cNavLink routerLink="/historique" routerLinkActive="active">
            Nouvelle fonction
          </a>
        </c-nav-item>
      </c-header-nav>
      <strong (click)="refresh()" style="color: orangered; text-align: end;">esm illi connecté</strong>

    </c-container>
    <c-header-divider></c-header-divider>
    <c-container [fluid]="true">
      <c-breadcrumb-router class="ms-2"></c-breadcrumb-router>
    </c-container>
  </ng-container>


  
  <!--</c-header>-->
  
  